<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>McObi's City Burgers</title>
    <link rel="stylesheet" href="css/deli-very.css">
    <!-- script src="https://vuejs.org/js/vue.js"></script -->
    <script src="js/menu.js" defer></script>
    <script src="js/js_script.js" defer></script>
    <!-- script src="js/vue_script.js"></script -->
  </head>
  <body>
    <main>

      <h1 id="header">Welcome to McObi's City Burgers Online</h1>
      <section id="top-section">
        <h2>Select burger</h2>

        <div id="burgers">
        </div>

      </section>
      <section id="contact-section">
        <form >
          <div id="customer">
          <p>
            <label for="fullname">Full name</label><br>
            <input type="text" id="fullname" name="fn" required="required" placeholder="Full name">
          </p>
          <p>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
          </p>
          <p>
            <label for="street">Street</label><br>
            <input type="text" id="street" name="st" required="required" placeholder="Street name">
          </p>
          <p>
            <label for="house">House</label><br>
            <input type="number" id="house" name="no" required="required" placeholder="House number">
          </p>
          <p>
            <label for="payment">Payment options</label><br>
            <select id="payment" name="payment">
              <option>Credit Card</option>
              <option>Klarna</option>
              <option>Swish</option>
              <option>Cash</option>
            </select>
          </p>
          <p>
            <label for="gender">Gender</label><br>
            <input type="radio" name="gender" value="male" required="required">Male</input>
            <input type="radio" name="gender" value="female" required="required">Female</input>
            <input type="radio" name="gender" value="nonbinary" required="required">Non-binary</input>
            <input type="radio" name="gender" value="undisclosed" required="required" checked>Undisclosed</input>
          </p>
        </div>
          <p>
            <div id="order">Order: Nothing yet</div>

            <button type="submit"><img src="./img/NSA.png" height="24" width="24"> Submit Info</button>
          </p>
        </form>

      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
